{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Change password
{% endblock %}

{% block header %}
    Change password.
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Change your password</h4>
            <form method="post">
                {% csrf_token | crispy %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ form | crispy }}

                <button type="submit" class="btn btn-primary btn-block mt-3">Change</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
