{%extends 'base.html' %}

{% load crispy_forms_tags %}

{%block title%}
    <title>Create course</title>
{%endblock%}

{%block page_name%}
  <h1>Create course</h1>
{%endblock%}


{%block content%}  

  <form method="post">
    {% csrf_token %}
    {{form | crispy}}
    <input type="submit" value="Create">
  </form>

  <a href="{% url 'courses:list' %}">Back to course list</a><br>

{%endblock%}
