{%extends 'base.html' %}

{% block title %}
    <title>Delete teacher</title>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Do you want to delete? {{ teacher.last_name}} {{ teacher.first_name}}</p>
        <input class="btn btn-danger" type="submit" value="Agree">
        <a class="btn btn-primary" href="{% url 'teachers:list'%}"> Cancel </a>
    </form>
{% endblock %}s