{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Change password
{% endblock %}

{% block header %}
    Change password
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input class="btn btn-success mt-3" type="submit" value="Sign Up">
        <a class="btn btn-success mt-3" href="#">Sign In</a>
    </form>
{% endblock %}