{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% extends "base.html" %}


{% block content %}
<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
        <h1>Set your Password------------------</h1>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Set new password</button>
        </form>
      </div>
</div>
{% endblock %}