{%extends 'base.html' %}

{% block title %}
    <title>Delete group</title>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>Do you want to delete? {{group.group_name}}</p>
        <input class="btn btn-danger" type="submit" value="Agree">
        <a class="btn btn-primary" href="{% url 'groups:list'%}"> Cancel </a>
    </form>
{% endblock %}s