<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1&{{ get_params }}">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ get_params }}">Previous</a></li>
      {% endif %}

      {% for page_num in page_obj.paginator.page_range %}
        {% if page_num == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{ page_num }}&{{ get_params }}">{{ page_num }}</a></li>
        {% elif page_num > page_obj.number|add:-3 and page_num < page_obj.number|add:3 %}
            <li class="page-item"><a class="page-link" href="?page={{ page_num }}&{{ get_params }}">{{ page_num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ get_params }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ get_params }}">Last &raquo;</a></li>
      {% endif %}

  </ul>
</nav>