<table class="table table-hover table-sm">
    <tr>
        <th>ID</th> 
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Group</th>
        <th>Head man</th>
        <th><i class="bi bi-pencil-fill"></i></th>
        <th>🚮</th>
    </tr>
    {% for student in list_objects %}
        <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.age }}</td>
            <td>{% if student.group %}{{ student.group }}{% endif %}</td>
            <td>{% if student.headed_group %}{{ student.headed_group }}{% endif %}</td>
            <td><a href="{% url 'students:update' student.id %}">EDIT</a></td>
            <td><a href="{% url 'students:delete' student.id %}">DELETE</a></td>
        </tr>
    {% endfor %}
</table>