{%extends 'base.html' %}

{%block content%}
      <div class="list-group">
        <a href="{%url 'students:list'%}"> Students list </a>         
        <a href="{%url 'groups:list'%}"> Groups list </a>
        <a href="{%url 'teachers:list'%}"> Teachers list </a>
        <a href="{%url 'courses:list'%}"> Course list </a>

      </div>

{%endblock%}